<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385867907362-m7cagoe96at9bad6khpc3f6n5udp63pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385867907362-m7cagoe96at9bad6khpc3f6n5udp63pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCDNVSFOpgzLrh8KpsOJ6F_W_AjUfJ9j5w</string>
	<key>GCM_SENDER_ID</key>
	<string>385867907362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jio.Accord</string>
	<key>PROJECT_ID</key>
	<string>accord-17707</string>
	<key>STORAGE_BUCKET</key>
	<string>accord-17707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385867907362:ios:43514697dab1c1651fa57b</string>
</dict>
</plist>